/* Almarai Font - Local Files */

@font-face {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Almarai-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Almarai-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Almarai-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/Almarai-ExtraBold.ttf) format('truetype');
}
